<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PENGVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3377CD8F1BD61A8E001DC21D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3377CDA81BD61A8E001DC21D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3377CDB31BD61A8F001DC21D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
